/* Base du site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* Header et navigation */

header {
    background-color: #b30000; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    font-family: fantasy;
    font-size: 70px;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 0.9em;
    color: #666;
}